@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Merriweather:wght@700&family=Offside&display=swap');

.main {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.weather-card {
  display: flex;
  justify-content: space-between;
}

.app-header {
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;
  color: blue;
  font-weight: 600;
}

.weather-card-child {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
}

.weather-card-main {
  width: 400px;
  border-top: 4px solid green !important;
}

.forecast-card {
  border-top: 2px solid goldenrod !important;
}
.icon-container {
  position: relative;
  right: -50px;
}

.weather-description {
  text-transform: capitalize;
  font-family: Arial, Helvetica, sans-serif;
}

.forecast-header {
  font-family: Arial, Helvetica, sans-serif;
}

.forecast-date {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px !important;
  margin-bottom: 20px;
}

